/* Layout */
body {
    margin: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    height: 100vh;
}

h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Doll Container */
.doll-container {
    width: 60%;
    background: rgb(255, 240, 190);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 20px 25px rgba(0,0,0,0.25));
}

.doll-container img {
    width: 500px;
    position: absolute;
    image-rendering: auto;
    image-rendering: crisp-edges;
}

/* Apply soft shadow to main shapes */
#skin,
#hair {
    filter: drop-shadow(0px 6px 12px rgba(0,0,0,0.25));
}

/* Explicitly exclude detail layers */
#eyes,
#brows,
#bangs {
    filter: none !important;
}

#eye-white-rect {
    position: absolute;
    background: white;
    width: 120px;     /* adjust if needed */
    height: 50px;     /* adjust if needed */

    top: 150px;       /* adjust to align exactly behind eyes */
    left: auto;

    z-index: 0;       /* below eyes */
}



/* Customization Panel */
.panel {
    width: 40%;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    padding: 25px;
    border-left: 2px solid #ccc;
}

.category {
    margin-bottom: 25px;
}

/* Color Buttons for hair/eyes/skin */
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #444;
    cursor: pointer;
}

.color-btn:hover {
    transform: scale(1.15);
}

.color-btn.active {
    border-width: 3px;
}

/* Background Color Buttons */
.bg-option {
    padding: 8px 14px;
    border: 2px solid #444;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
    user-select: none;
}

.bg-option.active {
    border-color: black;
    background: #ddd;
}

.bg-option:hover {
    background: #eee;
}

/* Gradient Tool */
.gradient-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gradient-box label {
    font-size: 14px;
}

.gradient-box button {
    padding: 8px;
    background: #444;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.gradient-box button:hover {
    background: #000;
}

/* Upload */
#upload-bg {
    margin-top: 10px;
}

/* Download Button */
.download-area {
    margin-top: 30px;
}

#downloadBtn {
    padding: 14px 22px;
    border: none;
    background: #444;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#downloadBtn:hover {
    background: #000;
}
